*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    margin: 0;
    background-image: url(imagenes/tenis.jpg);
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:white;
    color: black;
    text-align: center;
}
#central {
    text-align: center;
    margin: 15%;
   
}
#central form {
    border-radius: 3px;
    width: 400px;
    height: 450px;
    background-color: rgba(186, 240, 105, 0.63) ;
    box-shadow: inset 0 0 10px #000;
    margin: 100px auto;
    padding: 10px 50px 0 0;
}
form input {
    width : 150px;
    text-align: left;
    font-style: oblique;
}
form label {
    display: inline-block;
    width: 80px;
    margin-right: 20px;
    margin: 0 auto;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.error {
    color: red;
    background-color: yellow;
}
.spanErrors {
    color:red;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;    
}
.buttons {
    text-align: center;
    margin-left: 45px;
}
